.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 348px;
  margin: 0 auto;
  min-width: 200px;
  overflow: hidden;
}

.main-container .img-wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.main-container .img_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  overflow: hidden;
}
.container {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.left {
  left: 25%;
}
.right {
  right: 25%;
}
.show_button {
  display: block;
}

.hide_button {
  display: none;
}

.right,
.left {
  top: 20%;
  z-index: 1;
}

.right,
.left {
  font-size: 2em;
  position: absolute;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  width: 40px;
}

.right:hover,
.left:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 760px) {
  .main-container {
    width: 80%;
  }
  .left,
  .right {
    z-index: 1;
  }

  .left {
    left: 5%;
  }
  .right {
    right: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .main-container {
    width: 85%;
  }
  .left,
  .right {
    z-index: 1;
  }

  .left {
    left: 5%;
  }
  .right {
    right: 5%;
  }
}

@media screen and (max-width: 1280px) {
  .main-container {
    width: 80%;
  }
  .left,
  .right {
    z-index: 1;
  }

  .left {
    left: 5%;
  }
  .right {
    right: 5%;
  }
}
